{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Admin</h3>
  <div class="admin-highlights">
    <div class="metric">
      <p>Users</p>
      <p>{{ user_count }}</p>
    </div>
    <div class="metric">
      <p>2FA Enabled</p>
      <p>{{ two_fa_count }}</p>
      <p>{{ two_fa_percentage | round(2) }}%</p>
    </div>
    <div class="metric">
      <p>PGP Enabled</p>
      <p>{{ pgp_key_count }}</p>
      <p>{{ pgp_key_percentage | round(2) }}%</p>
    </div>
  </div>

  <h4>All Usernames</h4>
  {% if all_usernames %}
    {% for username in all_usernames %}
      <div class="user">
        <h5>{{ username.username }}</h5>
        <p class="meta">
          Display Name: {{ username.display_name or 'No display name' }}
        </p>
        <p class="meta">
          Type: {{ "Primary" if username.is_primary else "Alias" }}
        </p>
        <p class="meta">
          Verified: {{ "✅ Yes" if username.is_verified else "👎 No" }}
        </p>
        <p class="meta">
          Admin: {{ "✅ Yes" if username.user.is_admin else "👎 No" }}
        </p>
        <div class="tableActions">
            {% if user_verification_enabled %}
            <form
              action="{{ url_for('admin.toggle_verified_username', username_id=username.id) }}"
              method="POST"
              class="formBody"
            >
              <input
                type="hidden"
                name="is_verified"
                value="{{ 'false' if username.is_verified else 'true' }}"
              />
              <button type="submit">
                {{ "Remove Verified" if username.is_verified else "Set Verified" }}
              </button>
            </form>
          {% endif %}
          <form
            action="{{ url_for('admin.toggle_admin', user_id=username.user.id) }}"
            method="POST"
            class="formBody"
          >
            <input
              type="hidden"
              name="is_admin"
              value="{{ 'false' if username.user.is_admin else 'true' }}"
            />
            <button type="submit">
              {{ "Remove Admin" if username.user.is_admin else "Set Admin" }}
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No users found.</p>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script defer src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
