{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Advanced</h3>

  {% if is_premium_enabled %}
  <div class="adv-form">
    <h4>Paid Features</h4>
    <div>
      <a href="{{ url_for('premium.index') }}">Manage my plan</a>
    </div>
  </div>
  {% endif %}

  <div class="adv-form">
    <h4>Download My Data</h4>
    <p>
      Download a ZIP with CSV exports and your encrypted PGP messages.
    </p>
    <form method="POST" action="{{ url_for('settings.data_export') }}">
      {{ data_export_form.hidden_tag() }}
      {% if user.pgp_key %}
        <div class="checkbox-group">
          {{ data_export_form.encrypt_export(id="encrypt_export") }}
          <label for="encrypt_export">
            Encrypt export with my PGP key
          </label>
        </div>
      {% endif %}
      {{ data_export_form.submit(class="btn") }}
    </form>
  </div>

  <h4>Delete Account</h4>
  <p class="meta">
    ⚠️ Deleting your account is a permanent action that cannot be undone!
  </p>
  <form
    method="POST"
    action="{{ url_for('settings.delete_account') }}"
    class="formBody"
  >
    <button type="submit" class="btn-danger" id="deleteAccountButton">
      Delete Account
    </button>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
