{% extends "base.html" %}

{% block title %}Alias: @{{ alias.username }}{% endblock %}

{% block content %}
<div class="drill-in">
  <a href="{{ url_for('.aliases') }}" class="back-button"><span class="icon chevron back"></span> Back to Aliases</a>
  <h2 class="alias-heading">{{ alias.display_name or alias.username }}</h2>
  <a href="{{ url_for('profile', username=alias.username) }}">Alias tip line</a>

  {% with is_alias=True %}
    {% include "settings/profile-forms.html" %}
  {% endwith %}
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings-fields.js') }}"></script>
{% endblock %}
