<div
  id="auth"
  class="tab-content"
  role="tabpanel"
  aria-labelledby="auth-tab"
  hidden
>
  <!-- Change Username Section -->
  <h3>Change Username</h3>
  {% if user.primary_username.is_verified %}
    <p class="meta">
      ⚠️ Changing your username will result in losing your verification
      status.
    </p>
  {% endif %}
  <form
    method="POST"
    action="{{ url_for('settings.index') }}"
    class="formBody"
  >
    {{ change_username_form.hidden_tag() }}
    <label for="new_username">Username</label>
    {{ change_username_form.new_username(id='new_username', value=session['username']) }}
    {% if change_username_form.new_username.errors %}
      {% for error in change_username_form.new_username.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <button type="submit" name="change_username">Change Username</button>
  </form>

  <!-- Two-Factor Authentication Section -->
  <h3>Two-Factor Authentication</h3>
  {% if user.totp_secret %}
    <!-- If 2FA is enabled, show the Disable 2FA button -->
    <form
      method="GET"
      action="{{ url_for('settings.confirm_disable_2fa') }}"
      class="formBody"
    >
      <button type="submit">Disable 2FA</button>
    </form>
  {% else %}
    <!-- If 2FA is disabled, show the Enable 2FA button -->
    <form
      method="POST"
      action="{{ url_for('settings.toggle_2fa') }}"
      class="formBody"
    >
      <button type="submit">Enable 2FA</button>
    </form>
  {% endif %}
  <!-- Change Password Section in settings.html -->
  <h3>Change Password</h3>
  <form
    method="POST"
    action="{{ url_for('settings.change_password') }}"
    class="formBody"
  >
    {{ change_password_form.hidden_tag() }}
    <label for="old_password">Old Password</label>
    {{ change_password_form.old_password(id='old_password') }}
    {% if change_password_form.old_password.errors %}
      {% for error in change_password_form.old_password.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <label for="new_password">New Password</label>
    {{ change_password_form.new_password(id="new_password") }}
    {% if change_password_form.new_password.errors %}
      {% for error in change_password_form.new_password.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <button type="submit">Change Password</button>
  </form>
</div>
