{% extends "base.html" %}

{% block title %}Settings{% endblock %}
  <h3>Directory Introduction Text</h3>
  <form
    method="POST"
    action="{{ url_for('settings.update_directory_intro_text') }}"
    class="formBody"
  >
    {{ update_directory_intro_text_form.hidden_tag() }}
    <label for="directory-intro-text">Introduction Text</label>
    {{ update_directory_intro_text_form.directory_intro_text(rows=3, id="directory-intro-text") }}
    {{ update_directory_intro_text_form.submit(class="btn") }}
  </form>

  {% if user.is_admin %}
    <h3>Logo</h3>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('settings.update_brand_logo') }}"
      class="formBody"
    >
      {{ update_brand_logo_form.hidden_tag() }}
      {{ update_brand_logo_form.logo(accept=".png") }}
      {{ update_brand_logo_form.submit(class="btn") }}
      {{ delete_brand_logo_form.submit(class="btn-danger") }}
    </form>
  {% endif %}
</div>
