<div
  id="branding"
  class="tab-content admin-only"
  role="tabpanel"
  aria-labelledby="branding-tab"
  hidden
>
  <h3>Primary Color</h3>
  <form
    method="POST"
    action="{{ url_for('settings.update_brand_primary_color') }}"
    class="formBody"
  >
    {{ update_brand_primary_color_form.hidden_tag() }}
    <label for="brand-primary-color">Choose Color</label>
    <input
      type="color"
      name="brand_primary_hex_color"
      id="brand-primary-color"
      value="{{ brand_primary_color }}"
    />
    <button type="submit" class="btn">Update Color</button>
  </form>

  <h3>App Name</h3>
  <form
    method="POST"
    action="{{ url_for('settings.update_brand_app_name') }}"
    class="formBody"
  >
    {{ update_brand_app_name_form.hidden_tag() }}
    <label for="brand-app-name">Choose Name</label>
    <input
      type="text"
      name="brand_app_name"
      id="brand-app-name"
      value="{{ brand_name }}"
      required
    />
    <button type="submit" class="btn">Update Name</button>
  </form>

  {% if user.is_admin %}
    <h3>Logo</h3>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{ url_for('settings.update_brand_logo') }}"
      class="formBody"
    >
      {{ update_brand_logo_form.hidden_tag() }}
      {{ update_brand_logo_form.logo(accept=".png") }}
      {{ update_brand_logo_form.submit(class="btn") }}
      {{ delete_brand_logo_form.submit(class="btn-danger") }}
    </form>
  {% endif %}
</div>
