<div
  id="email"
  class="tab-content"
  role="tabpanel"
  aria-labelledby="email-tab"
  hidden
>
  <h3>Email Forwarding</h3>
  {% if not user.pgp_key %}
    <p class="info">
      Add a PGP key to enable email forwarding.
      <a
        href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md#2-mailvelope"
        >Here's how.</a
      >
    </p>
  {% endif %}
  <form
    method="POST"
    action="{{ url_for('settings.update_smtp_settings') }}"
    class="formBody"
  >
    {% if user.pgp_key %}
      {{ email_forwarding_form.hidden_tag() }}
      <div class="checkbox-group toggle-ui forwarding">
        {{ email_forwarding_form.forwarding_enabled() }}
        <label for="forwarding_enabled" class="toggle-label">
          {{ email_forwarding_form.forwarding_enabled.label }}
          <div class="toggle">
            <div class="toggle__ball"></div>
          </div>
        </label>
      </div>
      {% if default_forwarding_enabled and smtp_forwarding_message_html %}
        <p class="meta">
          {{ smtp_forwarding_message_html }}
        </p>
      {% endif %}
      <fieldset id="forwarding_enabled_fields">
        {{ email_forwarding_form.email_address.label }}
        {{ email_forwarding_form.email_address }}
        {% if default_forwarding_enabled %}
          <div class="checkbox-group toggle-ui">
            {{ email_forwarding_form.custom_smtp_settings() }}
            <label for="custom_smtp_settings" class="toggle-label">
              {{ email_forwarding_form.custom_smtp_settings.label }}
              <div class="toggle">
                <div class="toggle__ball"></div>
              </div>
            </label>
          </div>
        {% endif %}
        <fieldset id="custom_smtp_settings_fields">
          {{ email_forwarding_form.smtp_settings.smtp_sender.label }}
          {{ email_forwarding_form.smtp_settings.smtp_sender }}
          {{ email_forwarding_form.smtp_settings.smtp_username.label }}
          {{ email_forwarding_form.smtp_settings.smtp_username }}
          {{ email_forwarding_form.smtp_settings.smtp_server.label }}
          {{ email_forwarding_form.smtp_settings.smtp_server }}
          {{ email_forwarding_form.smtp_settings.smtp_port.label }}
          {{ email_forwarding_form.smtp_settings.smtp_port }}
          {{ email_forwarding_form.smtp_settings.smtp_encryption.label }}
          {{ email_forwarding_form.smtp_settings.smtp_encryption }}
          {{ email_forwarding_form.smtp_settings.smtp_password.label }}
          {{ email_forwarding_form.smtp_settings.smtp_password }}
        </fieldset>
        <button type="submit">Update Email Forwarding</button>
      </fieldset>
    {% endif %}
  </form>

  <!-- PGP Key Section -->
  <h3>Message Encryption</h3>
  <p>
    🔒 Do you use Proton Mail? We can automatically retrieve your PGP key
    from Proton's key server.
  </p>
  <form
    method="POST"
    action="{{ url_for('settings.update_pgp_key_proton') }}"
    class="formBody"
  >
    {{ pgp_proton_form.hidden_tag() }}
    <div class="search-box">
      <label id="searchIcon" for="proton_email">
        <img
          class="searchIcon"
          src="/static/img/app/icon-search.png"
          alt=""
        />
      </label>
      <input
        id="searchInput"
        type="email"
        name="email"
        id="proton_email"
        placeholder="Search Proton email..."
        required
      />
    </div>
    <button type="submit">Search Proton</button>
  </form>
  <form
    method="POST"
    action="{{ url_for('settings.update_pgp_key') }}"
    class="formBody"
  >
    {{ pgp_key_form.hidden_tag() }}
    <label for="pgp_key">Or, Add Your Public PGP Key Manually</label>
    {{ pgp_key_form.pgp_key(id='pgp_key') }}
    {% if pgp_key_form.pgp_key.errors %}
      {% for error in pgp_key_form.pgp_key.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    {% endif %}
    <button type="submit">Update PGP Key</button>
  </form>
  {% if not user.pgp_key %}
    <p>
      🤔 Need help?
      <a
        href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md#2-mailvelope"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Need help setting up message encryption? Start with our docs."
        >Start with our docs.</a
      >
    </p>
  {% endif %}
</div>
