{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block main_class %}settings-main{% endblock %}

{% block content %}
  <h2>Settings</h2>
  <div class="settings-content">
    {% include "settings/nav.html" %}
    <div class="tab-content">
      <h3>User Guidance</h3>
      <p>
        User Guidance enables you to present information to visitors before they send a 
        message. This can include cautions about submitting a message using a work 
        device, using Tor Browser, or anything else important for your community.
      </p>
      <form
        method="POST"
        class="formBody"
      >
        {{ user_guidance_form.hidden_tag() }}
        <div class="checkbox-group toggle-ui">
          {{ user_guidance_form.show_user_guidance() }}
          <label for="show_user_guidance" class="toggle-label">
            Show User Guidance
            <div class="toggle">
              <div class="toggle__ball"></div>
            </div>
          </label>
        </div>
        {{ user_guidance_form.submit }}
      </form>

      {% if guidance_enabled %}
        <h3>Prompts</h3>

        <h4>Emergency Exit</h4>
        <p>
          You can include a button that, if clicked, brings the user to a generic,
          popular website to obfuscate the fact that they're visiting Hush Line.
        </p>
        <form
          method="POST"
          class="formBody"
        >
          {{ user_guidance_emergency_exit_form.hidden_tag() }}
          <div>
            <label for="exit-button-text">Exit Button Text</label>
            <input
              type="text"
              name="exit_button_text"
              id="exit-button-text"
              value="{{ exit_button_text }}"
              required
            />
          </div>
          <div>
            <label for="exit-button-link">Exit Button Link</label>
            <input
              type="text"
              name="exit_button_link"
              id="exit-button-link"
              value="{{ exit_button_link }}"
              required
            />
          </div>
          {{ user_guidance_emergency_exit_form.submit }}
        </form>

        <h4>Prompt Content</h4>
        {% for prompt in guidance_prompt_values %}
          <form
            method="POST"
            class="formBody"
          >
            {{ user_guidance_prompt_forms[loop.index-1].hidden_tag() }}
            <div>
              <label for="heading-text-{{ loop.index-1 }}">Prompt Heading</label>
              <input
                type="text"
                name="heading_text"
                id="heading-text-{{ loop.index-1 }}"
                value="{{ prompt.heading_text }}"
              />
            </div>
            <div>
              <label for="prompt-text-{{ loop.index-1 }}">Prompt</label>
              <textarea id="prompt-text-{{ loop.index-1 }}" name="prompt_text" rows="4" maxlength="1024">{{ prompt.prompt_text or '' }}</textarea>
            </div>
            {{ user_guidance_prompt_forms[loop.index-1].submit }}
            {% if loop.index - 1 != 0 %}
            {{ user_guidance_prompt_forms[loop.index-1].delete_submit }}
            {% endif %}
          </form>
        {% endfor %}

        <form
          method="POST"
          class="formBody"
        >
          {{ user_guidance_add_prompt_form.hidden_tag() }}
          {{ user_guidance_add_prompt_form.submit }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
