{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
  {% set aliases_enabled = alias_mode == AliasMode.ALWAYS or (alias_mode == AliasMode.PREMIUM and not user.is_free_tier) %}
  <h2>Settings</h2>
  <div class="settings-content">
    {% include "settings/nav.html" %}
    <div>
      {% include "settings/profile.html" %}
      {% if aliases_enabled %}
        {% include "settings/aliases.html" %}
      {% endif %}
      {% include "settings/auth.html" %}
      {% include "settings/email.html" %}
      {% include "settings/advanced.html" %}
      {% if user.is_admin %}
        {% include "settings/branding.html" %}
        {% include "settings/admin.html" %}
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
