{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Metrics</h3>
  <div class="admin-highlights">
    <div class="metric">
      <p>Users</p>
      <p>{{ user_count }}</p>
    </div>
    <div class="metric">
      <p>2FA Enabled</p>
      <p>{{ two_fa_count }}</p>
      <p>{{ two_fa_percentage | round(2) }}%</p>
    </div>
    <div class="metric">
      <p>PGP Enabled</p>
      <p>{{ pgp_key_count }}</p>
      <p>{{ pgp_key_percentage | round(2) }}%</p>
    </div>
    <div class="metric">
      <p>Chat Keys Created</p>
      <p>{{ chat_key_count }}</p>
      <p>{{ chat_key_percentage | round(2) }}%</p>
    </div>
  </div>
{% endblock %}
