{% set aliases_enabled = alias_mode == AliasMode.ALWAYS or (alias_mode == AliasMode.PREMIUM and not user.is_free_tier) %}

<nav class="settings-tabs" aria-label="Settings Navigation">
  <ul class="tab-list">
    {% with buttons = [
      ('settings.profile', 'Profile', True),
      ('settings.aliases', 'Aliases', aliases_enabled),
      ('settings.auth', 'Authentication', True),
      ('settings.branding', 'Branding', user.is_admin),
      ('settings.encryption', 'Encryption', True),
      ('settings.replies', 'Message Statuses', user.pgp_key is not none),
      ('settings.notifications', 'Notifications', True),
      ('settings.guidance', 'User Guidance', user.is_admin),
      ('settings.registration', 'Registration', user.is_admin and registration_settings_enabled),
      ('settings.advanced', 'Advanced', True),
      ('settings.admin', 'Admin', user.is_admin)
    ] %}
      {% for (endpoint, display_name, show) in buttons %}
        {% if show %}
          <li role="presentation">
            <a
              class="tab{% if endpoint == request.endpoint %} active{% endif %}"
              {% if endpoint == request.endpoint %}aria-current="page"{% endif %}
              href="{{ url_for(endpoint) }}"
            >
              {{ display_name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endwith %}
  </ul>
</nav>
