{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Notifications</h3>

  {% if not user.pgp_key %}
    <p class="info">
      <a href="{{ url_for('.encryption') }}">Add a PGP key</a> to enable email forwarding.
    </p>
  {% endif %}

  <form
    method="POST"
    class="formBody"
  >
    {% if user.pgp_key %}
      {{ email_forwarding_form.hidden_tag() }}
      <div class="checkbox-group toggle-ui forwarding">
        {{ email_forwarding_form.forwarding_enabled() }}
        <label for="forwarding_enabled" class="toggle-label">
          {{ email_forwarding_form.forwarding_enabled.label }}
          <div class="toggle">
            <div class="toggle__ball"></div>
          </div>
        </label>
      </div>
      {% if default_forwarding_enabled and smtp_forwarding_message_html %}
        <p class="meta">
          {{ smtp_forwarding_message_html }}
        </p>
      {% endif %}
      <fieldset id="forwarding_enabled_fields">
        {{ email_forwarding_form.email_address.label }}
        {{ email_forwarding_form.email_address }}
        {% if default_forwarding_enabled %}
          <div class="checkbox-group toggle-ui">
            {{ email_forwarding_form.custom_smtp_settings() }}
            <label for="custom_smtp_settings" class="toggle-label">
              {{ email_forwarding_form.custom_smtp_settings.label }}
              <div class="toggle">
                <div class="toggle__ball"></div>
              </div>
            </label>
          </div>
        {% endif %}
        <fieldset id="custom_smtp_settings_fields">
          {{ email_forwarding_form.smtp_settings.smtp_sender.label }}
          {{ email_forwarding_form.smtp_settings.smtp_sender }}
          {% for error in email_forwarding_form.smtp_settings.smtp_sender.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          {{ email_forwarding_form.smtp_settings.smtp_username.label }}
          {{ email_forwarding_form.smtp_settings.smtp_username }}
          {% for error in email_forwarding_form.smtp_settings.smtp_username.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          {{ email_forwarding_form.smtp_settings.smtp_server.label }}
          {{ email_forwarding_form.smtp_settings.smtp_server }}
          {% for error in email_forwarding_form.smtp_settings.smtp_server.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          {{ email_forwarding_form.smtp_settings.smtp_port.label }}
          {{ email_forwarding_form.smtp_settings.smtp_port }}
          {% for error in email_forwarding_form.smtp_settings.smtp_port.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          {{ email_forwarding_form.smtp_settings.smtp_encryption.label }}
          {{ email_forwarding_form.smtp_settings.smtp_encryption }}
          {% for error in email_forwarding_form.smtp_settings.smtp_encryption.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}

          {{ email_forwarding_form.smtp_settings.smtp_password.label }}
          {{ email_forwarding_form.smtp_settings.smtp_password }}
          {% for error in email_forwarding_form.smtp_settings.smtp_password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </fieldset>
        {{ email_forwarding_form.submit }}
      </fieldset>
    {% endif %}
  </form>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
