{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Profile</h3>
  {% if is_premium_enabled and user.is_free_tier %}
    <div class="alert">
      <div>
        <h4>Business User?</h4>
        <p class="info">
          🚀 Upgrade to Super User for
          ${{ business_tier_display_price }}/mo to unlock more features!
        </p>
      </div>
      <a href="{{ url_for('premium.index') }}" class="btn">Upgrade</a>
    </div>
  {% endif %}

  {% with is_alias=False %}
    {% include "settings/profile-forms.html" %}
  {% endwith %}
{% endblock %}

{% block scripts %}
  <script defer src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/settings-fields.js') }}"></script>
{% endblock %}
