{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block main_class %}settings-main{% endblock %}

{% block content %}
  <h2>Settings</h2>
  <div class="settings-content">
    {% include "settings/nav.html" %}
    <div class="tab-content">
      {% if is_premium_enabled and user.is_free_tier %}
        <div class="upgrade">
          <div>
            <h3>Business User?</h3>
            <p class="info">
              🚀 Upgrade to Super User for
              ${{ business_tier_display_price }}/mo to unlock more features!
            </p>
          </div>
          <a href="{{ url_for('premium.index') }}" class="btn">Upgrade</a>
        </div>
      {% endif %}

      {# TODO: much of this was copy/pasted to "settings/alias.html" and will need to have updates synced there #}

      <h3>Update Display Name</h3>
      {% if user.primary_username.is_verified %}
        <p class="meta">
          ⚠️ Changing your display name will result in losing your verification status.
        </p>
      {% endif %}
      <form
        method="POST"
        class="formBody"
      >
        {{ display_name_form.hidden_tag() }}
        {{ display_name_form.display_name.label }}
        {{ display_name_form.display_name(id='display_name') }}
        {% if display_name_form.display_name.errors %}
          {% for error in display_name_form.display_name.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
        {{ display_name_form.submit }}
      </form>

      <h3>Public User Directory</h3>
      <form
        method="POST"
        class="formBody"
      >
        {{ directory_visibility_form.hidden_tag() }}
        <div class="checkbox-group toggle-ui">
          {{ directory_visibility_form.show_in_directory() }}
          <label for="show_in_directory" class="toggle-label">
            Show on public directory
            <div class="toggle">
              <div class="toggle__ball"></div>
            </div>
          </label>
        </div>
        {{ directory_visibility_form.submit }}
      </form>

      <h3>Add Your Bio</h3>
      <form
        method="POST"
        class="formBody"
      >
        {{ profile_form.hidden_tag() }}
        <div class="form-group">
          <div class="label-with-wordcount">
            <label for="bio">Bio (up to 250 characters):</label>
            <span class="meta"><span class="bio-count">0</span>/250</span>
          </div>
          <textarea id="bio" name="bio" rows="4" maxlength="250">{{ user.primary_username.bio or '' }}</textarea>
        </div>

        <h4>Extra Fields</h4>
        <p class="info">
          Add links to social media, your Signal username, your pronouns, or
          anything else you want on your profile.
        </p>

        <div class="form-group-pairs">
          {% for i in [1, 2, 3, 4] %}
            {% set label = profile_form|attr('extra_field_label'+i.__str__()) %}
            {% set value = profile_form|attr('extra_field_value'+i.__str__()) %}
            {% set verified = username|attr('extra_field_verified'+i.__str__()) %}

            {% if loop.first %}
              {% set label_placeholder = 'Signal' %}
              {% set value_placeholder = 'signaluser.123' %}
            {% else %}
              {% set label_placeholder = '' %}
              {% set value_placeholder = '' %}
            {% endif %}

            <div class="input-pair">
              <div>
                {{ label.label }}
                {{ label(placeholder=label_placeholder) }}
              </div>
              <div>
                {{ value.label }}
                {{ value(placeholder=value_placeholder) }}
                {% if verified %}
                  <span class="icon verifiedURL" title="Verified Address"></span>
                {% endif %}
              </div>
                {% for error in label.errors + value.errors %}
                  <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
          {% endfor %}
        </div>
        <button type="submit" name="update_bio">Update Bio</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
