{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
  <h2>Settings</h2>
  <div class="settings-content">
    {% include "settings/nav.html" %}
    <div class="tab-content">
      <h3>Profile</h3>
      {% if is_premium_enabled and user.is_free_tier %}
        <div class="upgrade">
          <div>
            <h4>Business User?</h4>
            <p class="info">
              🚀 Upgrade to Super User for
              ${{ business_tier_display_price }}/mo to unlock more features!
            </p>
          </div>
          <a href="{{ url_for('premium.index') }}" class="btn">Upgrade</a>
        </div>
      {% endif %}

      {% with %}
        {% set is_alias=False %}
        {% include "settings/profile-forms.html" %}
      {% endwith %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
