{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Registration</h3>
  <p>
    Registration allows you to control how users can create accounts on your Hush Line
    instance. You can disable registration, choose to allow anyone to register, or
    require an invite code.
  </p>

  <form method="POST" class="formBody auto-submit">
    {{ toggle_registration_form.hidden_tag() }}
    <div class="checkbox-group toggle-ui">
      {{ toggle_registration_form.registration_enabled }}
      <label for="{{ toggle_registration_form.registration_enabled.name }}" class="toggle-label">
        {{ toggle_registration_form.registration_enabled.label }}
        <div class="toggle">
          <div class="toggle__ball"></div>
        </div>
      </label>
    </div>
    {{ toggle_registration_form.submit }}
  </form>

  <form method="POST" class="formBody auto-submit">
    {{ toggle_registration_codes_form.hidden_tag() }}
    <div class="checkbox-group toggle-ui">
      {{ toggle_registration_codes_form.registration_codes_required }}
      <label for="{{ toggle_registration_codes_form.registration_codes_required.name }}" class="toggle-label">
        {{ toggle_registration_codes_form.registration_codes_required.label }}
        <div class="toggle">
          <div class="toggle__ball"></div>
        </div>
      </label>
    </div>
    {{ toggle_registration_codes_form.submit }}
  </form>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
