{% extends "settings/base.html" %}

{% block settings_content %}
  <h3>Message Statuses</h3>
  <p>When you receive a message, the sender gets a temporary address where they can view the status of their message.
    Set custom message statuses for your community below. Rich text using markdown is supported.</p>
  {% for (status, msg_status_text) in status_tuples %}
    {% set form = form_maker(status, msg_status_text.markdown if msg_status_text and msg_status_text.markdown else '') %}
    <div class="response">
      <h4>{{ status.emoji }} {{ status.display_str }}</h4>
      <form method="POST" class="formBody">
        {{ form.hidden_tag() }}
        {{ form.markdown.label }}
        {{ form.markdown }}
        {% for error in form.markdown.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
        {{ form.submit }}
      </form>
    </div>
  {% endfor %}
{% endblock %}

{% block scripts %}
  <script defer src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
