{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block main_class %}settings-main{% endblock %}

{% block content %}
  <h2>Settings</h2>
  <div class="settings-content">
    {% include "settings/nav.html" %}
    <div class="tab-content">
      {% for (status, msg_status_text) in status_tuples %}
        {% set form = form_maker(status, msg_status_text.markdown if msg_status_text and msg_status_text.markdown else '') %}
        <div>
          <h3>{{ status.display_str }}</h3>
          {% if msg_status_text and msg_status_text.markdown %}
            <p><strong>Preview:</strong></p>
            <div>
              {{ msg_status_text.markdown | markdown }}
            </div>
          {% else %}
            <p><em>A reply is not currently configured for this message status.</em></p>
          {% endif %}
          <form method="POST" class="formBody">
            {{ form.hidden_tag() }}
            {{ form.markdown.label }}
            {{ form.markdown }}
            {% for error in form.markdown.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
            {{ form.submit }}
          </form>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
