# python
*.pyc
__pycache__
.mypy_cache
.coverage
htmlcov

# configs
.env.stripe

# generated
hushline/static/js/
hushline/static/css/
hushline/static/fonts/
hushline/static/img/
hushline/static/data/users_directory.json

# node
/node_modules
.DS_Store
.aider*
