alembic
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cryptography
dnspython
email-validator
Flask
Flask-Bcrypt
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
jsonify
Mako
MarkupSafe
packaging
pycparser
PyMySQL
pyotp
pypng
python-dotenv
python-gnupg
qrcode
requests
SQLAlchemy
stripe
typing_extensions
urllib3
Werkzeug
WTForms
Flask-Limiter
Flask-Limiter[redis]