/*ICONS*/

.description .icon {
  width: 3rem;
  height: 3rem;
  margin: 0 0 1rem 0;
  align-self: auto;
  background-size: cover;
}

.icon.verified {
  background-image: url('../img/landing/icon-verified.png');
}

.icon.hardware {
  background-image: url('../img/landing/icon-hardware.png');
}

.icon.faq {
  background-image: url('../img/landing/icon-faq.png');
}

.icon.security {
  background-image: url('../img/landing/icon-security.png');
}

.icon.opensource {
  background-image: url('../img/landing/icon-opensource.png');
}

.icon.mail {
  background-image: url('../img/landing/icon-mail.png');
}

/*GLOBAL STYLES*/

body.landing {
  padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.825rem;
}

h3 a {
  color: #333;
}

.btn,
nav a,
.badge {
  letter-spacing: .025rem;
}

.btn {
  align-content: center;
  text-decoration: none;
  width: fit-content;
  min-width: initial;
}

.btn:hover {
  text-decoration: none;
}

.primaryBtn {
  background-color: #7D25C1;
  color: white;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

main.landing {
  width: 100%;
  max-width: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

section:not(.intro) {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featues {
  align-items: left;
}

.cards h2 {
  width: 100%;
  text-align: center;
}

/*BANNER*/

.banner {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #7D25C1;
}

.banner p {
  padding: 0;
  width: fit-content;
  margin: 0 auto;
  font-size: .9125rem;
  color: white;
}

.banner + header {
  top: 40px;
}

/*HEADER*/

header.island {
  width: fit-content;
  margin: 1rem auto 0 auto;
  border-radius: 10rem;
  padding: .5rem .5rem .5rem 1rem;
  min-height: initial;
  outline: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 8px 32px -16px rgba(0,0,0,0.15);
}

header.island nav ul {
  gap: 1rem;
}

header h1 {
  margin-right: 3rem;
}

header nav ul {
  align-items: center;
}

header nav .btn {
  margin-left: 0;
  padding: .75rem 1rem;
}

header nav .primaryBtn {
  margin-left: .25rem;
}

/*INTRO*/

.intro {
  min-height: 100vh;
  align-items: center;
  position: relative;
  justify-content: center;
  background-size: cover !important;
  overflow: hidden;
  display: flex;
}

.intro .wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.intro h2 {
  font-size: 3.5rem;
  margin-bottom: .5rem;
  color: #370C6B;
}

.intro h2,
.intro p {
  max-width: 55%;
}

.intro p {
  font-size: 1.25rem;
}

.intro img {
  max-width: 1024px;
  width: 100%;
  display: flex;
  height: auto;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 1.5rem;
}

/*BADGE*/

p.badge {
  font-size: .75rem;
  margin-bottom: 2rem;
}

/*FAQ*/

.faq-answer {
    display: none;
    margin-top: 5px;
}

.faq-question {
    display: flex;
    padding: 1rem 0;
    cursor: pointer;
    align-items: center;
    width: fit-content;
    text-decoration: none;
}

.faq-list {
    list-style-type: none;
    padding: 0;
}

ol, ul {
    max-width: 640px;
  }

.faq-list ol {
    margin-left: 1.25rem;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    width: 1.5rem;
    margin-right: 1rem;
}

.faq-question.active .arrow {
    transform: rotate(-180deg);
}

.faq-list code {
    line-break: anywhere;
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 2.75;
    font-size: .9125rem;
    border-radius: .25rem;
}

.faq-list code {
  line-break: anywhere;
  padding: .5rem;
  line-height: 2.75;
  font-size: .825rem;
  border: 1px solid rgba(0,0,0,0.1);
  font-family: monospace;
  background-color: white;
}

.faq-list ul li,
.faq-list ol li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

/*CARDS*/

.cards {
  background-color: #F1F2F8;
}

.cards .wrapper {
  display: flex;
  gap: 1rem;
}

.cards .description {
  padding: 2.5rem 2rem;
  border-radius: .5rem;
  outline: 1px solid rgba(0,0,0,0.1);
  background-color: white;
  box-shadow: 0px 8px 32px -16px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-content: center;
  flex: 1 1 0px;
}

.cards img {
  max-width: 120px;
  margin-bottom: 1rem;
}

.flip {
  order: 1;
}

/*MISSION STATEMENT*/

.statement {
  display: flex;
  align-self: center;
  background-color: #FAFAFD;
  flex-direction: column;
  padding: 0 calc(4rem * 2);
}

.statement .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.statement .description {
  margin: 0;
}

.statement p {
  font-size: 1.75rem;
  max-width: 640px;
}

.statement p:first-of-type {
  margin-bottom: 1rem;
}

.highlight {
  background-color: #7D25C1;
  color: white;
  font-weight: normal;
  font-family: 'Atkinson Hyperlegible', Helvetica, Arial, sans-serif;
}

/*FEATURE*/

section.why {
  background-color: #FAFAFD;
}

.feature .flip + img {
  transform-origin: right;
}

.feature h2 {
  margin-bottom: .5rem;
}

.feature img {
  width: 50%;
  transform-origin: center;
}

.feature {
  overflow: hidden;
  padding: 4rem 0;
}

.feature:nth-of-type(1) {
  padding: .75rem 0 3rem 0;
}

.feature:nth-of-type(2) {
  padding: 3rem 0 6rem 0;
}

.feature .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.feature .description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.flip.description {
  order: 1;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: center;
  position: initial;
  background-color: #FAFAFD;
}

footer p {
  font-size: .8125rem;
}

body.landing .feature .description p {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 960px) {
  .intro h2 {
    font-size: 3rem;
  }

  .intro h2,
  .intro p {
    max-width: 63%;
  }

  .intro img {
    left: 66%;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  .arrow {
    width: 1.25rem;
  }
  .statement p {
    font-size: calc(1.75rem * .9);
  }

}

@media only screen and (max-width: 768px) {
  .intro h2 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.125rem;
  }

  .statement p {
    font-size: calc(1.75rem * .8);
  }

  .cards .wrapper {
    flex-direction: column;
  }

  .cards .description {
    align-items: center;
    text-align: center;
  }

  .feature .wrapper {
    flex-direction: column;
    align-items: start;
  }

  .feature .description {
    width: 100%;
  }

  .feature img {
    transform: initial;
    width: 100%;
  }

  .feature .flip {
    order: 0;
  }

}

@media only screen and (max-width: 640px) {
  header nav .primaryBtn {
    margin-left: .5rem;
  }

  .intro .wrapper {
    margin-top: 11rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .intro h2 {
    font-size: 2.5rem;
  }

  .intro h2,
  .intro p {
    max-width: 100%;
  }

  .intro img {
    position: initial;
    margin: 4rem auto -2rem auto;
    transform: initial !important;
  }

  .statement p {
    font-size: calc(1.75rem * .8);
  }

  header nav ul.show {
    align-items: start;
  }

  header nav ul.show li {
    margin: .25rem 0;
  }

  li.dropdown {
    display: none;
  }

  header nav ul.show {
    top: 3.325rem;
  }
}
