.registration-code-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .registration-code-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* needed for stretched-link */
  }
  
  .registration-code-entry .registration-code {
    font-family: var(--font-sans-bold);
    font-size: var(--font-size-base);
  }

  .registration-code {
    font-family: var(--font-mono);
  }
  
  .registration-code-entry .registration-code-exp {
    font-family: var(--font-sans);
    font-size: var(--font-size-small);
    color: var(--color-text-light);
  }

  .registration-code-entry form {
    margin-top: 0;
  }
