[Unit]
Description=Display Hush Line Information on E-Paper Display
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /root/hushline/display_status.py
Restart=always

[Install]
WantedBy=multi-user.target