[Unit]
Description=Display Hush Line Information on E-Paper Display
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /home/hush/hushline/display_status.py
Restart=always

[Install]
WantedBy=multi-user.target