[Unit]
Description=Hush Line Home Server Installation Helper
After=multi-user.target

[Service]
ExecStart=/root/hushline/assets/scripts/install.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
