<h3>Super User</h3>
<div class="feature-meta">
  <p>All Core Features</p>
</div>
<div class="feature-meta">
  <p>Aliases</p>
  <p>100</p>
</div>
<div class="feature-meta">
  <p>Monthly Messages</p>
  <p>Unlimited</p>
</div>
<div class="feature-meta">
  <p>Auto-Deleting Messages</p>
  <p>Coming soon</p>
</div>
<div class="feature-meta">
  <p>More Forwarding Addresses</p>
  <p>Coming soon</p>
</div>
<div class="feature-meta">
  <p>Custom Message Subjects</p>
  <p>Coming soon</p>
</div>
<div class="feature-meta">
  <p>Monthly Price</p>
  <p>${{ business_price }}</p>
</div>