<h3>Core/Free</h3>
<div class="feature-meta">
  <p>Monthly Messages</p>
  <p>Unlimited</p>
</div>
<div class="feature-meta">
  <p>Forwarding Addresses</p>
  <p>1</p>
</div>
<div class="feature-meta">
  <p>Proton Mail Key Lookup</p>
  <p>✅</p>
</div>
<div class="feature-meta">
  <p>Tor Onion Service</p>
  <p>✅</p>
</div>
<div class="feature-meta">
  <p>End-to-End Encryption</p>
  <p>✅</p>
</div>
<div class="feature-meta">
  <p>Easy Message Forwarding</p>
  <p>✅</p>
</div>
<div class="feature-meta">
  <p>OCR Vision Assistant</p>
  <p>✅</p>
</div>