{% extends "base.html" %}

{% block title %}Inbox{% endblock %}

{% block content %}
  {% if user.messages %}
    <h2>Inbox for {{ user.primary_username.display_name or user.primary_username.username }}</h2>
    {% for message in user.messages %}
      <article
        class="message encrypted"
        aria-label="Message with {{ message.user.primary_username or message.user.display_name }}"
      >
        {% if user_has_aliases %}
          <p>To: @{{ message.username.username }}</p>
        {% endif %}
        <p>{{ message.created_at.date() }}</p>
        <p><a class="stretched-link" href="{{ url_for('message', id=message.id) }}">Go to message</a></p>
      </article>
    {% endfor %}
  {% else %}
    <div class="emptyState">
      <img
        class="empty"
        src="{{ url_for('static', filename='img/app/empty.png') }}"
        alt="Empty Inbox"
      />
      <h1>Nothing to see here...</h1>
      <p>No messages yet.</p>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/mailvelope.js') }}"></script>
  <script src="{{ url_for('static', filename='js/inbox.js') }}"></script>
{% endblock %}
