{% extends "base.html" %}

{% block title %}Message{% endblock %}

{% block content %}
<div class="message-header">
  <h1>Message</h1>
  <div class="action-model">
    <form id="statusForm" class="formBody" method="POST" action="{{ url_for('set_message_status', public_id=message.public_id) }}">
      {{ update_status_form.hidden_tag() }}
      {{ update_status_form.status }}
    </form>
    {% if message.username.user.enable_email_notifications and message.username.user.email_include_message_content %}
    <form
      id="resendMessageForm"
      class="formBody"
      method="POST"
      action="{{ url_for('resend_message', public_id=message.public_id) }}"
    >
      {{ resend_message_form.hidden_tag() }}
      {{ resend_message_form.submit(class="btn-primary") }}
    </form>
    {% endif %}
    <form class="formBody" method="POST" action="{{ url_for('delete_message', public_id=message.public_id) }}">
      {{ delete_message_form.submit(class="btn-danger") }}
    </form>
  </div>
</div>

<div class="message-container">
  <div class="message-meta">
    <p>
      To:
      <a href="{{ url_for('profile', username=message.username.username) }}">{{ message.username.display_name or
        message.username.username }}</a>
    </p>
    <p class="meta">
      {{ message.created_at.date() }}
    </p>
  </div>
  <article class="message">
    {% for field_value in message.field_values %}
    <div class="field-value {% if field_value.encrypted %}encrypted{% endif %}">
      <div class="label">{{ field_value.field_definition.label }}</div>
      {% if field_value.encrypted %}
        <pre class="encrypted-value">{{ field_value.value }}</pre>
      {% else %}
        <pre class="value">{{ field_value.value }}</pre>
      {% endif %}
      <div class="value mailvelope-decryption-container" id="decryption-container-{{ field_value.id }}"></div>
    </div>
    {% endfor %}
  </article>

</div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/mailvelope.js') }}"></script>
  <script src="{{ url_for('static', filename='js/message.js') }}"></script>
{% endblock %}
