{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}

{% block content %}
  <h2>Set New Password</h2>
  <form method="POST" data-submit-spinner="true">
    {{ form.hidden_tag() }}
    <div>
      {{ form.password.label(for="password") }}
      {{ form.password(id="password", required=True, autocomplete="new-password") }}
      {% for error in form.password.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </div>
    <button type="submit">Reset Password</button>
  </form>
{% endblock %}
