{% extends "base.html" %}
{% block title %}Hush Line Personal Server{% endblock %}

{% block content %}
<h1>Welcome to Hush Line</h1>

<p>👋 The Hush Line Personal Server is an anonymous whistleblowing platform. Our core platform, which you can find at <a href="https://hushline.app" target="_blank" rel="noopener noreferrer">https://hushline.app</a>, is intended for lawyers, journalists, educators, and business leaders to offer a safe and private way to receive messages from their communities.</p>

<p>You can access this server using its IP address on the local network that it's connected to, or from anywhere on the
    internet using <a href="https://www.torproject.org/download/" target="_blank" rel="noopener noreferrer">Tor Browser</a> with the following URL:</p>

<pre>http://{{ config.ONION_HOSTNAME }}</pre>

<p>To start, <a href="{{ url_for('register') }}">register an account</a>. Then share the onion URL publicly so that
    sources can contact you anonymously.</p>

{% endblock %}

{% block scripts %}
{% endblock %}