{% extends "base.html" %}

{% block title %}
  {% if user.pgp_key %}
    {{ profile_header }}
  {% else %}
    Profile: {{ display_name_or_username }}
  {% endif %}
{% endblock %}

{% block content %}
  <div id="userEmailSettings" class="display-none">
    {{ {
        "sendEmail": user.enable_email_notifications,
        "includeContents": user.email_include_message_content,
       } | tojson }}
  </div>

  <h2 class="submit">
    {% if user.pgp_key %}
      {# Unauthenticated or other users who meet PGP requirements #}
      {{ profile_header }}
    {% else %}
      {# Unauthenticated or other users who don't meet PGP requirements #}
      {{ display_name_or_username }}
    {% endif %}
  </h2>

  {% if user.is_admin or username.is_verified %}
    <div class="badgeContainer">
      {% if user.is_admin %}
        <span class="badge" role="img" aria-label="Administrator account">⚙️&nbsp;Admin</span>
      {% endif %}
      {% if username.is_verified %}
        <span class="badge" role="img" aria-label="Verified account">⭐️&nbsp;Verified</span>
        <a
          class="meta"
          href="https://hushline.app/library/docs/using-your-tip-line/account-verification"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Learn more about verified accounts."
          >Learn more</a
        >
      {% endif %}
    </div>
  {% endif %}

  {% if username.bio %}
    <p class="bio">{{ username.bio }}</p>
  {% endif %}

  {% if username.valid_fields | length > 0 %}
    <div class="extra-fields">
      {% for field in username.valid_fields %}
        <p class="extra-field">
          <span class="extra-field-label">{{ field.label }}</span>
          <span class="extra-field-value">
            {% if field.is_verified %}
              <span class="icon verifiedURL" title="Verified Address"></span>
            {% endif %}
            {% if field.value.startswith('https://') %}
              <a
                href="{{ field.value }}"
                target="_blank"
                rel="noopener noreferrer me"
                >{{ field.value }}</a
              >
            {% else %}
              {{ field.value }}
            {% endif %}
          </span>
        </p>
      {% endfor %}
    </div>
  {% endif %}

  {% if current_user_id == user.id %}
    <p class="instr">
      {% if not user.pgp_key %}
        <b>👁️ Only visible to you:</b> In order to protect your sources, you need
        to add a PGP key to your account before anyone can send you tips.
        Without a PGP key, your profile can still be listed in the Hush Line
        directory. Make sure to include a secure way to contact you, such as a
        Signal username, in your profile.
      {% else %}
        <b>👁️ Only visible to you:</b> This is your public tip line. Share the
        address in your browser's address bar on your social media profiles, your
        website, and email signature. Ensuring that someone submitting a message
        trusts this form belongs to you is important for establishing trust.
      {% endif %}
    </p>
  {% endif %}

  <form
    method="POST"
    action="{{ url_for('profile', username=username.username) }}"
    id="messageForm"
    onsubmit="return false;"
  >
    {{ form.hidden_tag() }}

    {% for data in field_data %}
      {% if data['field'].enabled %}
        <div class="field-group">
          <div class="label">
            <label for="{{ data['name'] }}">
              {{ form[data['name']].label.text }}
              <span class="meta">
                {% if data['field'].required %}Required{% else %}Optional{% endif %}
              </span>
            </label>
          </div>
          <div>
            {% if not user.pgp_key %}
              {{ form[data['name']](id=data['name'], disabled='disabled') }}
            {% else %}
              {% if data['field'].encrypted %}
                {{ form[data['name']](id=data['name'], class='form-field encrypted-field', **{'data-label': form[data['name']].label.text}) }}
                {% if data['field'].encrypted %}
                  <p class="meta">🔒 Encrypted</p>
                {% endif %}
              {% else %}
                {{ form[data['name']](id=data['name'], class='form-field', **{'data-label': form[data['name']].label.text}) }}
                {% if data['field'].encrypted %}
                  <p class="meta">🔒 Encrypted</p>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <input type="hidden" id="publicKey" value="{{ user.pgp_key }}" />

    {% if user.pgp_key %}
      <div class="captcha">
        <p>🤖 Solve the math problem to submit your message.</p>
        <div class="captcha_container">
          <label for="captcha_answer">{{ math_problem }}</label>
          <input
            type="text"
            id="captcha_answer"
            name="captcha_answer"
            required=""
            autocomplete="off"
            aria-label="Solve {{ math_problem }} to submit your message"
          />
        </div>
      </div>
    {% endif %}

    <button
      type="submit"
      id="submitBtn"
      aria-label="Send a message to {{ display_name_or_username }}"
      {% if not user.pgp_key %}disabled="disabled"{% endif %}
    >
      Send Message
    </button>

    {% if not user.pgp_key %}
      <div class="pgp-disabled-overlay">
        <p>
          🔒<br />
          Sending messages is disabled until {{ display_name_or_username }} adds
          a PGP key.
        </p>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block scripts %}
  {% if user.pgp_key %}
    <script src="{{ url_for('static', filename='js/diceware-words.js') }}"></script>
    <script src="{{ url_for('static', filename='js/client-side-encryption.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submit-message.js') }}"></script>
  {% endif %}
{% endblock %}
