{% extends "base.html" %}

{% set pgp_required_but_not_set = require_pgp and not user.pgp_key %}

{% block title %}
  {% if (not require_pgp) or (require_pgp and user.pgp_key) %}
    Send a Message to {{ display_name_or_username }}
  {% else %}
    Profile: {{ display_name_or_username }}
  {% endif %}
{% endblock %}

{% block content %}
  <h2 class="submit">
    {% if (not require_pgp) or (require_pgp and user.pgp_key) %}
      Submit a message to {{ display_name_or_username }}
    {% else %}
      {{ display_name_or_username }}
    {% endif %}
  </h2>

  {% if user.is_admin or username.is_verified %}
    <div class="badgeContainer">
      {% if user.is_admin %}
        <p class="badge">⚙️&nbsp;Admin</p>
      {% endif %}
      {% if username.is_verified %}
        <p class="badge">⭐️&nbsp;Verified</p>
        <a
          class="meta"
          href="https://github.com/scidsg/hushline/blob/main/docs/3-managed-service.md#verified-accounts"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Learn more about verified accounts."
          >Learn more</a
        >
      {% endif %}
    </div>
  {% endif %}

  {% if username.bio %}
    <p class="bio">{{ username.bio }}</p>
  {% endif %}

  {% if username.valid_fields | length > 0 %}
    <div class="extra-fields">
      {% for field in username.valid_fields %}
        <p class="extra-field">
          <span class="extra-field-label">{{ field.label }}</span>
          <span class="extra-field-value">
            {% if field.is_verified %}
              <span class="icon verifiedURL" title="Verified Address"></span>
            {% endif %}
            {% if field.value.startswith('https://') %}
              <a
                href="{{ field.value }}"
                target="_blank"
                rel="noopener noreferrer me"
                >{{ field.value }}</a
              >
            {% else %}
              {{ field.value }}
            {% endif %}
          </span>
        </p>
      {% endfor %}
    </div>
  {% endif %}

  {% if current_user_id == user.id %}
    <p class="instr">
      {% if pgp_required_but_not_set %}
        <b>Only visible to you:</b> In order to protect your sources, you need
        to add a PGP key to your account before anyone can send you tips.
        Without a PGP key, your profile can still be listed in the Hush Line
        directory. Make sure to include a secure way to contact you, such as a
        Signal username, in your profile.
      {% else %}
        <b>Only visible to you:</b> This is your public tip line. Share the
        address on your social media profiles, your website, or email signature.
        Ensuring that someone submitting a message trusts this form belongs to
        you is critical!
      {% endif %}
    </p>
  {% endif %}

  <form
    method="POST"
    action="{{ url_for('submit_message', username=username.username) }}"
    id="messageForm"
  >
    {% if not pgp_required_but_not_set %}
      {{ form.hidden_tag() }}
    {% endif %}

    <label for="contact_method">Contact Method (Optional)</label>
    <input
      type="text"
      id="contact_method"
      name="contact_method"
      value="{{ form.contact_method.data if form.contact_method.data is not none else '' }}"
      {% if pgp_required_but_not_set %}disabled="disabled"{% endif %}
    />

    <label for="content">Message</label>
    <textarea
      id="content"
      maxlength="10000"
      name="content"
      required=""
      spellcheck="true"
      {% if pgp_required_but_not_set %}disabled="disabled"{% endif %}
    >{{ form.content.data if form.content.data is not none else '' }}</textarea>

    {% if not pgp_required_but_not_set %}
      <!-- Hidden field for public PGP key -->
      <input type="hidden" id="publicKey" value="{{ user.pgp_key }}" />
      <!-- Hidden field to indicate if the message was encrypted client-side -->
      <input
        type="hidden"
        name="client_side_encrypted"
        id="clientSideEncrypted"
        value="false"
      />

      {% if current_user_id == user.id %}
        {% if user.pgp_key %}
          <p class="helper meta">
            🔐 Your message will be encrypted and only readable by you.
          </p>
        {% else %}
          <p class="helper meta">
            ⚠️ Your messages will NOT be encrypted. If you expect messages to
            contain sensitive information, please
            <a
              href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md"
              target="_blank"
              rel="noopener noreferrer"
              >add a public PGP key</a
            >.
          </p>
        {% endif %}
      {% else %}
        {% if user.pgp_key %}
          <p class="helper meta">
            🔐 Your message will be encrypted and only readable by
            {{ display_name_or_username }}.
          </p>
        {% else %}
          <p class="helper meta">
            ⚠️ Your message will NOT be encrypted. If this message is sensitive,
            ask {{ display_name_or_username }} to add a public PGP key.
            <a
              href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md"
              target="_blank"
              rel="noopener noreferrer"
              >Here's how they can do it</a
            >.
          </p>
        {% endif %}
      {% endif %}
      <!-- Math CAPTCHA -->
      <div class="captcha">
        <p>🤖 Solve the math problem to submit your message.</p>
        <div class="captcha_container">
          <label for="captcha_answer">{{ math_problem }}</label>
          <input
            type="text"
            id="captcha_answer"
            name="captcha_answer"
            required=""
            aria-label="Solve {{ math_problem }} to submit your message"
          />
        </div>
      </div>
    {% endif %}
    <button
      type="submit"
      id="submitBtn"
      {% if pgp_required_but_not_set %}disabled="disabled"{% endif %}
    >
      Send Message
    </button>

    {% if pgp_required_but_not_set %}
      <div class="pgp-disabled-overlay">
        <p>
          🔒<br />
          Sending messages is disabled until {{ display_name_or_username }} adds
          a PGP key.
        </p>
      </div>
    {% endif %}
  </form>
{% endblock %}

{% block scripts %}
  {% if not pgp_required_but_not_set %}
    <script src="{{ url_for('static', filename='vendor/openpgp-5.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/client-side-encryption.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submit-message.js') }}"></script>
  {% endif %}
{% endblock %}
