{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
  <h2>Register</h2>

  {% if first_user %}
  <div class="alert">
    <div>
      <h4>Create the Admin User</h4>
      <p class="info">⚙️ The first user you create on your Hush Line Personal Server will be the admin.</p>
    </div>
  </div>
  {% endif %}

  <form method="POST" action="{{ url_for('register') }}" data-submit-spinner="true">
    {{ form.hidden_tag() }}
    <div>
      {{ form.username.label(for="username") }}
      {{ form.username(id="username") }}
      {% if form.username.errors %}
        <span class="error">{{ form.username.errors[0] }}</span>
      {% endif %}
    </div>
    <div>
      {{ form.password.label(for="password") }}
      {{ form.password(id="password") }}
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
    {% if registration_codes_required %}
      <div>
        {{ form.invite_code.label }}
        {{ form.invite_code(size=32) }}
        {% for error in form.invite_code.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <div class="captcha">
      <p>🤖 Solve the math problem to complete your registration.</p>
      <div class="captcha_container">
        <label for="captcha_answer">{{ math_problem }}</label>
        <input
          type="text"
          id="captcha_answer"
          name="captcha_answer"
          required
          autocomplete="off"
          aria-label="Solve {{ math_problem }} to complete registration"
        />
      </div>
    </div>
    <button type="submit">Register</button>
  </form>
  <p>
    Already have an account? <a href="{{ url_for('login') }}">Login here</a>
  </p>
{% endblock %}
