{% extends "base.html" %}

{% block title %}{{ message.username.display_name or message.username.username }}{% endblock %}

{% block content %}
  <div class="reply-header">
    <h1>Message Status</h1>
    <p class="message-status badge">
      {{ message.status.display_str }}
    </p>
  </div>

  {# status #}
  <div class="message-container">
    <div class="message-meta">
      <p>
        <strong>Received</strong><br>
        {{ message.status_changed_at.date() }}
      </p>
      <p>
        <strong>From</strong><br>
        <a href="{{ url_for('profile', username=message.username.username) }}">{{ message.username.display_name or message.username.username }}</a>
      </p>
    </div>
    <div>
      <p><strong>Message</strong></p>
      {{ message.status_text|markdown }}
    </div>
  </div>

{% endblock %}
