{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
  <h2>Settings</h2>
  <div class="settings-tabs {% if user.is_admin %}is-admin{% endif %}">
    <ul class="tab-list" role="tablist">
      <li role="presentation">
        <button
          type="button"
          class="tab active"
          data-tab="profile"
          role="tab"
          aria-selected="true"
          aria-controls="profile"
          id="profile-tab"
        >
          Profile
        </button>
      </li>
      <li role="presentation">
        <button
          type="button"
          class="tab"
          data-tab="auth"
          role="tab"
          aria-selected="false"
          aria-controls="auth"
          id="auth-tab"
        >
          Authentication
        </button>
      </li>
      <li role="presentation">
        <button
          type="button"
          class="tab"
          data-tab="email"
          role="tab"
          aria-selected="false"
          aria-controls="email"
          id="email-tab"
        >
          Email &amp; Encryption
        </button>
      </li>
      <li role="presentation">
        <button
          type="button"
          class="tab"
          data-tab="branding"
          role="tab"
          aria-selected="false"
          aria-controls="branding"
          id="branding-tab"
        >
          Branding
        </button>
      </li>
      <li role="presentation">
        <button
          type="button"
          class="tab"
          data-tab="advanced"
          role="tab"
          aria-selected="false"
          aria-controls="advanced"
          id="advanced-tab"
        >
          Advanced
        </button>
      </li>
      {% if user.is_admin %}
        <li role="presentation">
          <button
            type="button"
            class="tab admin-only"
            data-tab="admin"
            role="tab"
            aria-selected="false"
            aria-controls="admin"
            id="admin-tab"
          >
            Admin
          </button>
        </li>
      {% endif %}
    </ul>
  </div>
  <div>
    <div
      id="profile"
      class="tab-content active"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <h3>Update Display Name</h3>
      {% if user.is_verified %}
        <p class="meta">
          ⚠️ Changing your display name will result in losing your verification
          status.
        </p>
      {% endif %}
      <form
        method="POST"
        action="{{ url_for('settings.index') }}"
        class="formBody"
      >
        {{ display_name_form.hidden_tag() }}
        <label for="display_name">Display Name</label>
        {{ display_name_form.display_name(id='display_name') }}
        {% if display_name_form.display_name.errors %}
          {% for error in display_name_form.display_name.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
        <button type="submit" name="update_display_name">
          Update Display Name
        </button>
      </form>

      <h3>Public User Directory</h3>
      <form
        method="POST"
        action="{{ url_for('settings.index') }}"
        class="formBody"
      >
        {{ directory_visibility_form.hidden_tag() }}
        <div class="checkbox-group toggle-ui">
          {{ directory_visibility_form.show_in_directory() }}
          <label for="show_in_directory" class="toggle-label">
            Show on public directory
            <div class="toggle">
              <div class="toggle__ball"></div>
            </div>
          </label>
        </div>
        <button type="submit" name="update_directory_visibility">
          Update Visibility
        </button>
      </form>

      <h3>Add Your Bio</h3>
      <form
        method="POST"
        action="{{ url_for('settings.index') }}"
        class="formBody"
      >
        {{ profile_form.hidden_tag() }}
        <div class="form-group">
          <div class="label-with-wordcount">
            <label for="bio">Bio (up to 250 characters):</label>
            <span class="meta"><span class="bio-count">0</span>/250</span>
          </div>
          <textarea id="bio" name="bio" rows="4" maxlength="250">
{{ user.bio or '' }}</textarea
          >
        </div>

        <h4>Extra Fields</h4>
        <p class="info">
          Add links to social media, your Signal username, your pronouns, or
          anything else you want on your profile.
        </p>

        <div class="form-group-pairs">
          <div class="input-pair">
            <div>
              <label for="extra_field_label1">Label</label>
              <input
                type="text"
                name="extra_field_label1"
                id="extra_field_label1"
                placeholder="Signal"
                value="{{ user.extra_field_label1 or '' }}"
              />
            </div>
            <div>
              <label for="extra_field_value1">Content</label>
              <input
                type="text"
                name="extra_field_value1"
                id="extra_field_value1"
                placeholder="signaluser.123"
                value="{{ user.extra_field_value1 or '' }}"
              />
              {% if user.extra_field_verified1 %}
                <span class="icon verifiedURL" title="Verified Address"></span>
              {% endif %}
            </div>
          </div>

          <div class="input-pair">
            <div>
              <label for="extra_field_label2">Label</label>
              <input
                type="text"
                name="extra_field_label2"
                id="extra_field_label2"
                value="{{ user.extra_field_label2 or '' }}"
              />
            </div>
            <div>
              <label for="extra_field_value2">Content</label>
              <input
                type="text"
                name="extra_field_value2"
                id="extra_field_value2"
                value="{{ user.extra_field_value2 or '' }}"
              />
              {% if user.extra_field_verified2 %}
                <span class="icon verifiedURL" title="Verified Address"></span>
              {% endif %}
            </div>
          </div>

          <div class="input-pair">
            <div>
              <label for="extra_field_label3">Label</label>
              <input
                type="text"
                name="extra_field_label3"
                id="extra_field_label3"
                value="{{ user.extra_field_label3 or '' }}"
              />
            </div>
            <div>
              <label for="extra_field_value3">Content</label>
              <input
                type="text"
                name="extra_field_value3"
                id="extra_field_value3"
                value="{{ user.extra_field_value3 or '' }}"
              />
              {% if user.extra_field_verified3 %}
                <span class="icon verifiedURL" title="Verified Address"></span>
              {% endif %}
            </div>
          </div>

          <div class="input-pair">
            <div>
              <label for="extra_field_label4">Label</label>
              <input
                type="text"
                name="extra_field_label4"
                id="extra_field_label4"
                value="{{ user.extra_field_label4 or '' }}"
              />
            </div>
            <div>
              <label for="extra_field_value4">Content</label>
              <input
                type="text"
                name="extra_field_value4"
                id="extra_field_value4"
                value="{{ user.extra_field_value4 or '' }}"
              />
              {% if user.extra_field_verified4 %}
                <span class="icon verifiedURL" title="Verified Address"></span>
              {% endif %}
            </div>
          </div>
        </div>
        <button type="submit" name="update_bio">Update Bio</button>
      </form>
    </div>

    <div
      id="auth"
      class="tab-content"
      role="tabpanel"
      aria-labelledby="auth-tab"
      hidden
    >
      <!-- Change Username Section -->
      <h3>Change Username</h3>
      {% if user.is_verified %}
        <p class="meta">
          ⚠️ Changing your username will result in losing your verification
          status.
        </p>
      {% endif %}
      <form
        method="POST"
        action="{{ url_for('settings.index') }}"
        class="formBody"
      >
        {{ change_username_form.hidden_tag() }}
        <label for="new_username">Username</label>
        {{ change_username_form.new_username(id='new_username', value=session['username']) }}
        {% if change_username_form.new_username.errors %}
          {% for error in change_username_form.new_username.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
        <button type="submit" name="change_username">Change Username</button>
      </form>

      <!-- Two-Factor Authentication Section -->
      <h3>Two-Factor Authentication</h3>
      {% if user.totp_secret %}
        <!-- If 2FA is enabled, show the Disable 2FA button -->
        <form
          method="GET"
          action="{{ url_for('settings.confirm_disable_2fa') }}"
          class="formBody"
        >
          <button type="submit">Disable 2FA</button>
        </form>
      {% else %}
        <!-- If 2FA is disabled, show the Enable 2FA button -->
        <form
          method="POST"
          action="{{ url_for('settings.toggle_2fa') }}"
          class="formBody"
        >
          <button type="submit">Enable 2FA</button>
        </form>
      {% endif %}
      <!-- Change Password Section in settings.html -->
      <h3>Change Password</h3>
      <form
        method="POST"
        action="{{ url_for('settings.change_password') }}"
        class="formBody"
      >
        {{ change_password_form.hidden_tag() }}
        <label for="old_password">Old Password</label>
        {{ change_password_form.old_password(id='old_password') }}
        {% if change_password_form.old_password.errors %}
          {% for error in change_password_form.old_password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
        <label for="new_password">New Password</label>
        {{ change_password_form.new_password(id="new_password") }}
        {% if change_password_form.new_password.errors %}
          {% for error in change_password_form.new_password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
        <button type="submit">Change Password</button>
      </form>
    </div>

    <div
      id="email"
      class="tab-content"
      role="tabpanel"
      aria-labelledby="email-tab"
      hidden
    >
      <!-- SMTP Settings Section -->
      <h3>Email Forwarding</h3>
      {% if not user.pgp_key %}
        <p class="info">
          Add a PGP key to enable email forwarding.
          <a
            href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md#2-mailvelope"
            >Here's how.</a
          >
        </p>
      {% endif %}
      <form
        method="POST"
        action="{{ url_for('settings.update_smtp_settings') }}"
        class="formBody"
      >
        {% if user.pgp_key %}
          {{ email_forwarding_form.hidden_tag() }}
          <div class="checkbox-group toggle-ui forwarding">
            {{ email_forwarding_form.forwarding_enabled() }}
            <label for="forwarding_enabled" class="toggle-label">
              {{ email_forwarding_form.forwarding_enabled.label }}
              <div class="toggle">
                <div class="toggle__ball"></div>
              </div>
            </label>
          </div>
          {% if not is_personal_server and default_forwarding_enabled %}
            <p class="meta">
              ✊ Email forwarding is powered by
              <a
                href="https://riseup.net"
                target="_blank"
                rel="noopener noreferrer"
                >Riseup.net</a
              >.
            </p>
          {% endif %}
          <fieldset id="forwarding_enabled_fields">
            {{ email_forwarding_form.email_address.label }}
            {{ email_forwarding_form.email_address }}
            {% if default_forwarding_enabled %}
              <div class="checkbox-group toggle-ui">
                {{ email_forwarding_form.custom_smtp_settings() }}
                <label for="custom_smtp_settings" class="toggle-label">
                  {{ email_forwarding_form.custom_smtp_settings.label }}
                  <div class="toggle">
                    <div class="toggle__ball"></div>
                  </div>
                </label>
              </div>
            {% endif %}
            <fieldset id="custom_smtp_settings_fields">
              {{ email_forwarding_form.smtp_settings.smtp_sender.label }}
              {{ email_forwarding_form.smtp_settings.smtp_sender }}
              {{ email_forwarding_form.smtp_settings.smtp_username.label }}
              {{ email_forwarding_form.smtp_settings.smtp_username }}
              {{ email_forwarding_form.smtp_settings.smtp_server.label }}
              {{ email_forwarding_form.smtp_settings.smtp_server }}
              {{ email_forwarding_form.smtp_settings.smtp_port.label }}
              {{ email_forwarding_form.smtp_settings.smtp_port }}
              {{ email_forwarding_form.smtp_settings.smtp_encryption.label }}
              {{ email_forwarding_form.smtp_settings.smtp_encryption }}
              {{ email_forwarding_form.smtp_settings.smtp_password.label }}
              {{ email_forwarding_form.smtp_settings.smtp_password }}
            </fieldset>
            <button type="submit">Update Email Forwarding</button>
          </fieldset>
        {% endif %}
      </form>
      <!-- PGP Key Section -->
      <h3>Message Encryption</h3>
      <p>
        🔒 Do you use Proton Mail? We can automatically retrieve your PGP key
        from Proton's key server.
      </p>
      <form
        method="POST"
        action="{{ url_for('settings.update_pgp_key_proton') }}"
        class="formBody"
      >
        {{ pgp_proton_form.hidden_tag() }}
        <div class="search-box">
          <label id="searchIcon" for="proton_email">
            <img
              class="searchIcon"
              src="/static/img/app/icon-search.png"
              alt=""
            />
          </label>
          <input
            id="searchInput"
            type="email"
            name="email"
            id="proton_email"
            placeholder="Search Proton email..."
            required
          />
        </div>
        <button type="submit">Search Proton</button>
      </form>
      <form
        method="POST"
        action="{{ url_for('settings.update_pgp_key') }}"
        class="formBody"
      >
        {{ pgp_key_form.hidden_tag() }}
        <label for="pgp_key">Or, Add Your Public PGP Key Manually</label>
        {{ pgp_key_form.pgp_key(id='pgp_key') }}
        {% if pgp_key_form.pgp_key.errors %}
          {% for error in pgp_key_form.pgp_key.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
        <button type="submit">Update PGP Key</button>
      </form>
      {% if not user.pgp_key %}
        <p>
          🤔 Need help?
          <a
            href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md#2-mailvelope"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Need help setting up message encryption? Start with our docs."
            >Start with our docs.</a
          >
        </p>
      {% endif %}
    </div>

    <div
      id="branding"
      class="tab-content"
      role="tabpanel"
      aria-labelledby="branding-tab"
      hidden
    >
      <h3>Primary Color</h3>
      <form
        method="POST"
        action="{{ url_for('settings.update_brand_primary_color') }}"
        class="formBody"
      >
        <label for="brand-primary-color">Choose Color</label>
        <input
          type="color"
          id="brand-primary-color"
          class="color-picker"
        />
        <button type="submit" class="btn" id="updateBrandPrimaryColor">
          Update Color
        </button>
      </form>

      <h3>App Name</h3>
      <form
        method="POST"
        action="{{ url_for('settings.update_brand_app_name') }}"
        class="formBody"
      >
        <label for="brand-app-name">Choose Name</label>
        <input
          type="text"
          name="brand_app_name_choice"
          id="brand-app-name"
          placeholder="🤫 Hush Line"
          value="{{ user.brand_app_name or '' }}"
        />
        <button type="submit" class="btn" id="updateBrandAppName">
          Update Name
        </button>
      </form>
    </div>

    <div
      id="advanced"
      class="tab-content"
      role="tabpanel"
      aria-labelledby="advanced-tab"
      hidden
    >
      <!-- Account Deletion Section -->
      <h3>Delete Account</h3>
      <p class="meta">
        ⚠️ Deleting your account is a permanent action that cannot be undone!
      </p>
      <form
        method="POST"
        action="{{ url_for('settings.delete_account') }}"
        class="formBody"
      >
        <button type="submit" class="btn-danger" id="deleteAccountButton">
          Delete Account
        </button>
      </form>
    </div>

    {% if user.is_admin %}
      <div
        id="admin"
        class="tab-content admin-only"
        role="tabpanel"
        aria-labelledby="admin-tab"
        hidden
      >
        <div class="admin-highlights">
          <div class="metric">
            <p>Users</p>
            <p>{{ user_count }}</p>
          </div>
          <div class="metric">
            <p>2FA Enabled</p>
            <p>{{ two_fa_count }}</p>
            <p>{{ two_fa_percentage | round(2) }}%</p>
          </div>
          <div class="metric">
            <p>PGP Enabled</p>
            <p>{{ pgp_key_count }}</p>
            <p>{{ pgp_key_percentage | round(2) }}%</p>
          </div>
        </div>
        <h3>All Users</h3>
        {% if all_users %}
          {% for user in all_users %}
            <div class="user">
              <h4>{{ user.primary_username }}</h4>
              <p class="meta">
                Display Name: {{ user.display_name or 'No display name' }}
              </p>
              <p class="meta">
                Verified: {{ "✅ Yes" if user.is_verified else "👎 No" }}
              </p>
              <p class="meta">
                Admin: {{ "✅ Yes" if user.is_admin else "👎 No" }}
              </p>
              <div class="tableActions">
                <form
                  action="{{ url_for('admin.toggle_verified', user_id=user.id) }}"
                  method="POST"
                  class="formBody"
                >
                  <button type="submit">Toggle Verified</button>
                </form>
                <form
                  action="{{ url_for('admin.toggle_admin', user_id=user.id) }}"
                  method="POST"
                  class="formBody"
                >
                  <button type="submit">Toggle Admin</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No users found.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
