{% extends "base.html" %}
{% block title %}Send a Message{% endblock %}

{% block content %}
<h2 class="submit">Submit a message to {{ display_name_or_username }}</h2>
{% if user.is_admin or user.is_verified %}
<div class="badgeContainer">
    {% if user.is_admin %}
    <p class="badge">⚙️&nbsp;Admin</p>
    {% endif %}
    {% if user.is_verified %}
    <p class="badge">⭐️&nbsp;Verified</p>
    <a class="meta" href="https://github.com/scidsg/hushline/blob/main/docs/3-managed-service.md#verified-accounts"
        target="_blank" rel="noopener noreferrer" aria-label="Learn more about verified accounts.">Learn more</a>
    {% endif %}
</div>
{% endif %}
{% if user.bio %}
<p class="bio">{{ user.bio }}</p>
{% endif %}
{% if current_user_id == user.id or (secondary_username and current_user_id == secondary_username.primary_user_id) %}
<p class="instr">Only visible to you: This is your public tip line. Share the address on your social media profiles,
    your website, or email signature. Ensuring that someone submitting a message trusts this form belongs to you is
    critical!</p>
{% endif %}
<form method="POST" action="{{ url_for('submit_message', username=username) }}" id="messageForm">
    {{ form.hidden_tag() }}

    <label for="contact_method">Contact Method (Optional)</label>
    <input type="text" id="contact_method" name="contact_method"
        value="{{ form.contact_method.data if form.contact_method.data is not none else '' }}">

    <label for="content">Message</label>
    <textarea id="content" maxlength="10000" name="content" required=""
        spellcheck="true">{{ form.content.data if form.content.data is not none else '' }}</textarea>

    <!-- Hidden field for public PGP key -->
    <input type="hidden" id="publicKey" value="{{ user.pgp_key }}" />
    <!-- Hidden field to indicate if the message was encrypted client-side -->
    <input type="hidden" name="client_side_encrypted" id="clientSideEncrypted" value="false">

    {% if current_user_id == user.id or (secondary_username and current_user_id == secondary_username.primary_user_id)
    %}
    {% if user.pgp_key %}
    <p class="helper meta">🔐 Your message will be encrypted and only readable by you.</p>
    {% else %}
    <p class="helper meta">⚠️ Your messages will NOT be encrypted. If you expect messages to contain sensitive
        information,
        please <a href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md" target="_blank"
            rel="noopener noreferrer">add a public PGP key</a>.</p>
    {% endif %}
    {% else %}
    {% if user.pgp_key %}
    <p class="helper meta">🔐 Your message will be encrypted and only readable by {{ display_name_or_username }}.</p>
    {% else %}
    <p class="helper meta">⚠️ Your message will NOT be encrypted. If this message is sensitive, ask {{
        display_name_or_username
        }} to add a public PGP key. <a href="https://github.com/scidsg/hushline/blob/main/docs/1-getting-started.md"
            target="_blank" rel="noopener noreferrer">Here's how they can do it</a>.</p>
    {% endif %}
    {% endif %}
    <!-- Math CAPTCHA -->
    <div class="captcha">
        <p>🤖 Solve the math problem to submit your message.</p>
        <div class="captcha_container">
            <label for="captcha_answer">{{ math_problem
                }}</label>
            <input type="text" id="captcha_answer" name="captcha_answer" required="" aria-label="Solve {{ math_problem
            }} to submit your message">
        </div>
    </div>
    <button type="submit" id="submitBtn">Send Message</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendor/openpgp-5.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/client-side-encryption.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit-message.js') }}"></script>
{% endblock %}