{% extends "base.html" %}
{% block title %}Send a Message{% endblock %}

{% block content %}
<h2 class="submit">Submit a message to {{ display_name_or_username }}</h2>
<div class="badgeContainer">
    {% if user.is_verified %}
    <p class="badge">⭐️ Verified Account</p>
    {% endif %}
    {% if user.is_admin %}
    <p class="badge">⚙️ Admin</p>
    {% endif %}
</div>
{% if current_user_id == user.id or (secondary_username and current_user_id == secondary_username.primary_user_id) %}
    <p class="instr">Only visible to you: This is your public tip line. Share the address on your social media profiles, your website, or email signature. Ensuring that someone submitting a message trusts this form belongs to you is critical!</p>
    {% if user.pgp_key %}
        <p class="info">🔐 Your message will be encrypted and only readable by you.</p>
    {% else %}
        <p class="info">⚠️ Your messages will NOT be encrypted. If you expect messages to contain sensitive information, please <a href="https://scidsg.github.io/hushline-docs/book/prereqs/general.html" target="_blank" rel="noopener noreferrer">add a public PGP key</a>.</p>
    {% endif %}
    {% else %}
    {% if user.pgp_key %}
        <p class="info">🔐 Your message will be encrypted and only readable by {{ display_name_or_username }}.</p>
    {% else %}
        <p class="info">⚠️ Your message will NOT be encrypted. If this message is sensitive, ask {{ display_name_or_username }} to add a public PGP key. <a href="https://scidsg.github.io/hushline-docs/book/prereqs/general.html" target="_blank" rel="noopener noreferrer">Here's how they can do it</a>.</p>
    {% endif %}
{% endif %}
<form method="POST" action="/submit_message/{{ username }}" id="messageForm">
    {{ form.hidden_tag() }}
    <label for="content">Message</label>
    <textarea id="content" maxlength="2000" name="content" placeholder="Include a contact method if you want a response..." required="" size="32" data-mvelo-frame="att" spellcheck="true"></textarea>
    <!-- Hidden field for public PGP key -->
    <input type="hidden" id="publicKey" value="{{ user.pgp_key }}" />
    <!-- Hidden field to indicate if the message was encrypted client-side -->
    <input type="hidden" name="client_side_encrypted" id="clientSideEncrypted" value="false">
    <button type="submit" id="submitBtn">Send Message</button>
</form>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/openpgp@latest/dist/openpgp.min.js"></script>
<script src="{{ url_for('static', filename='js/client-side-encryption.js') }}"></script>



{% endblock %}
