{% extends "tools/base.html" %}
{% block title %}Vision Assistant{% endblock %}

{% block tools_content %}
  <h3>Vision Assistant</h3>
  <p>
    📸 Do you have a set of photos and need help extracting searchable text? Try our
    browser-based vision assistant! Data is never sent to our severs. Currently English-only.
  </p>
  <div class="fileContainer">
    <label for="fileInput" class="custom-file-label">Add Images</label>
    <input type="file" id="fileInput" accept="image/*" multiple />
  </div>

  <div id="results"></div>
{% endblock %}

{% block scripts %}
  <script defer src="https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js"></script>
  <script defer src="{{ url_for('static', filename='js/vision.js') }}"></script>
{% endblock %}
