@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/sans/AtkinsonHyperlegible-Regular.woff") format("woff"),
       url("fonts/sans/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Bold";
  src: url("fonts/sans/AtkinsonHyperlegible-Bold.woff") format("woff"),
       url("fonts/sans/AtkinsonHyperlegible-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair";
  src: url("fonts/serif/PlayfairDisplay-Medium.woff") format("woff"),
       url("fonts/serif/PlayfairDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Bold";
  src: url("fonts/serif/PlayfairDisplay-Bold.woff") format("woff"),
       url("fonts/serif/PlayfairDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Mono";
  src: url("fonts/mono/IBMPlexMono-Regular.woff") format("woff"),
       url("fonts/mono/IBMPlexMono-Regular.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	margin: 0;
	min-height: 100vh;
	height: auto;
	padding: 8rem 2rem 1rem 2rem;
	background-color: #eeeff5;
}

h1, p, a, label, input {
	color: #1d1d1c;
}

h1 {
	font-size: 1.25rem;
	letter-spacing: .0125rem;
	font-family: 'Playfair Bold', serif;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white !important;
	display: flex;
	justify-content: center;
}

header .wrapper {
	max-width: 1280px;
	width: 100%;
	padding: .75rem 1.5rem .825rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.emoji {
	font-size: 2.75rem;
	margin-bottom: .5rem;
	display: block;
}

p {
	margin-bottom: 1.125rem;
	max-width: 640px;
	width: 100%;
	text-align: center;
	font-size: .825rem;
	color: #4F4F4F;
}

label {
	display: block;
	font-weight: 700;
}

#message-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
	max-width: 640px;
	width: 100%;
}

textarea {
	padding: 1rem;
	width: 100%;
	margin: 0 0 .5rem 0;
	font-size: 1rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	border-radius: .25rem;
	border: 0;
	box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.15);
	outline: 1px solid rgba(0,0,0,0.05);
	resize: none;
	max-width: 640px;
}

.button-container {
  position: relative;
}

button {
	padding: 1rem;
	font-size: 1rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	border-radius: 50vw;
	border: none;
	font-weight: 700;
	background-color: #1d1d1c;
	color: #fff;
	width: 50%;
	min-width: 240px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.btn {
	padding: .75rem 1rem;
	font-size: .875rem;
	border-radius: 50vw;
	border: 1px solid rgba(0,0,0,0.1);
	text-decoration: none;
	height: fit-content;
	font-family: 'Atkinson Bold', sans-serif;
  letter-spacing: .05rem;
}

.spinner {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d1d1c;
  z-index: 1;
}

/* Add the @keyframes rule for the spinning animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.button-wrapper {
    position: relative;
}

.hidden {
	display: none;
}

.spinner {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d1d1c;
  z-index: 1;
}

.hidden {
	display: none;
}

.button-container {
    position: relative;
}

.button-text-hidden {
  color: rgba(255,255,255,0);
}

footer p {
	font-size: .75rem;
	text-align: center;
}

#pgp-owner-info {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
	background-color: rgba(255,255,255,.5);
	padding: .625rem 1rem .75rem 1rem;
	box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.15);
	outline: 1px solid rgba(0,0,0,0.05);
	border-radius: .25rem;
	font-family: 'Mono', monospace;
	width: 100%;
	max-width: 640px;
	display: flex !important;
	flex-direction: row;
	gap: .75rem;
	margin-bottom: .625rem;
}

#pgp-owner-info  p {
	font-size: .75rem !important;
}

.card-header {
	width: fit-content;
}

.pgp-meta {
	display: flex;
	flex-direction: row;
	font-size: .75rem !important;
	gap: .75rem;
	margin-top: .125rem;
}

.pgp-meta p {
	color: #878787;
}

#pgp-owner-info p {
	margin: 0;
	width: fit-content;
}

#pgp-owner-info h3 {
	margin: 0;
	font-size: .75rem;
	color: #333;
	font-weight: normal;
}

@media only screen and (max-width: 768px) {

	.emoji {
		font-size: 2.5rem;
	}

	#pgp-info {
		position: initial;
	}

}

@media only screen and (max-width: 480px) {

}
