@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/sans/AtkinsonHyperlegible-Regular.woff") format("woff"),
       url("fonts/sans/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair";
  src: url("fonts/serif/PlayfairDisplay-Medium.woff") format("woff"),
       url("fonts/serif/PlayfairDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Mono";
  src: url("fonts/mono/regular.woff") format("woff"),
       url("fonts/mono/regular.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	margin: 0;
	height: 100vh;
	padding: 0 2rem;
}

h1, p, label, input {
	color: #333;
}

h1 {
	font-weight: 700;
	font-size: 4rem;
	line-height: 1.1;
	text-align: center;
	margin: 0;
	font-family: 'Playfair', serif;
}

h1 + p {
	margin-bottom: 3rem;
}

label {
	display: block;
	font-weight: 700;
}

#signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

textarea {
	padding: .75rem 1rem;
	width: 100%;
	margin: .5rem 0 1.5rem 0;
	font-size: 1.125rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	border-radius: .25rem;
	border: 1px solid #949494;
}

button {
	padding: 1rem;
	font-size: 1rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	border-radius: 50vw;
	border: none;
	font-weight: 700;
	background-color: #333;
	color: #fff;
	width: 50%;
	min-width: 240px;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 3rem;
	}

}