@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("fonts/sans/AtkinsonHyperlegible-Regular.woff") format("woff"),
       url("fonts/sans/AtkinsonHyperlegible-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Bold";
  src: url("fonts/sans/AtkinsonHyperlegible-Bold.woff") format("woff"),
       url("fonts/sans/AtkinsonHyperlegible-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair";
  src: url("fonts/serif/PlayfairDisplay-Medium.woff") format("woff"),
       url("fonts/serif/PlayfairDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Bold";
  src: url("fonts/serif/PlayfairDisplay-Bold.woff") format("woff"),
       url("fonts/serif/PlayfairDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Mono";
  src: url("fonts/mono/IBMPlexMono-Regular.woff") format("woff"),
       url("fonts/mono/IBMPlexMono-Regular.woff2") format("woff2");
}

::selection {
  background-color: #333;
  color: white;
}

.destructive {
	color: #AD1414;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	padding: 0 1.5rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	margin: 0;
	min-height: 100vh;
	height: auto;
	padding: 6.5rem 2rem 1rem 2rem;
	background-color: #F6EFFF;
}

body.info {
	padding: 5.5rem 0 6.5rem 0;
}

body.info p {
	text-align: left;
	font-size: 1.125rem;
	margin: .5rem 0;
}

body.info ul {
	padding-left: 1rem;
	font-size: 1.125rem;
}

body.info section {
	max-width: 1280px;
	width: 100%;
}

body.info h2 {
	font-size: 3rem;
	font-family: 'Atkinson Bold', sans-serif;
}

.info pre {
	text-align: left;
	font-size: .875rem;
	line-height: 1.5;
	color: #f2f2f2;
	padding: .75rem 1rem;
	word-wrap: break-word;
  white-space: normal;
  width: fit-content;
  white-space: break-spaces;
  word-wrap: anywhere;
  margin-top: 1.5rem;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: .25rem;
}

h1, p, a, label, input, ul, pre {
	color: #1d1d1c !important;
}

h1 {
	font-size: 1.25rem;
	letter-spacing: .0125rem;
	font-family: 'Playfair', serif;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white !important;
	display: flex;
	justify-content: center;
}

header .wrapper {
	max-width: 1280px;
	width: 100%;
	padding: .5rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 a {
	text-decoration: none;
}

header h1 a:hover {
	text-decoration: underline;
}

header nav {
	display: flex;
	flex-direction: row;
}

header nav li {
	list-style: none;
}

header nav li a {
	font-size: .9125rem;
	text-decoration: none;
}

header nav li a:hover {
	text-decoration: underline;
}

header nav li:last-of-type {
	margin-left: 1rem;
}

.setupBody p {
	text-align: left;
	font-size: 1rem;
	color: #333;
}

.setupBody p:first-of-type {
	margin-bottom: .5rem;
	margin-top: .25rem;
}

.setupBody p:last-of-type {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgba(125,37,193,0.15);
}

form.setup-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

form.setup-form button {
	align-self: center;
	margin-bottom: 2rem;
	margin-top: 1.5rem;
}

.setup-form input {
	padding: .75rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  outline: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.15);
  border: none;
  font-size: 1rem;
}

.setup-form label {
	font-size: .925rem;
	margin-bottom: .5rem;
}

.setup-form input:focus,
textarea:focus,
a:focus {
	 outline: 2px solid #7D25C1;
}

.emoji {
	font-size: 2.75rem;
	margin-bottom: .5rem;
	display: block;
}

p {
	margin-bottom: 1.5rem;
	max-width: 640px;
	width: 100%;
	text-align: center;
	font-size: .825rem;
	color: #4F4F4F;
}

label {
	display: block;
}

#message-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
	max-width: 640px;
	width: 100%;
}

textarea {
	padding: 1rem;
	width: 100%;
	margin: 0 0 .25rem 0;
	font-size: 1rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	border-radius: .25rem;
	border: 0;
	box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.15);
	outline: 1px solid rgba(0,0,0,0.05);
	resize: none;
	max-width: 640px;
}

textarea + p > a {
	color: #4F4F4F !important;
}

.button-container {
  position: relative;
}

button {
	padding: 1rem;
	font-size: 1rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	border-radius: 50vw;
	border: none;
	font-weight: 700;
	background-color: #7D25C1;
	color: #fff;
	width: 50%;
	min-width: 240px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	letter-spacing: .05rem;
}

.btn {
	padding: .75rem 1rem;
	font-size: .875rem;
	border-radius: 50vw;
	border: 1px solid rgba(0,0,0,0.1);
	text-decoration: none;
	height: fit-content;
	font-family: 'Atkinson Bold', sans-serif;
  letter-spacing: .05rem;
  color: #7D25C1 !important;
}

/* Add the @keyframes rule for the spinning animation */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.button-wrapper {
    position: relative;
}

.hidden {
	display: none;
}

.spinner {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #7D25C1;
  z-index: 1;
}

.hidden {
	display: none;
}

.button-container {
    position: relative;
}

.button-text-hidden {
  color: rgba(255,255,255,0);
}

footer p {
	font-size: .75rem;
	text-align: center;
}

#pgp-owner-info {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
	background-color: rgba(255,255,255,.65);
	padding: .75rem 1rem;
	box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.15);
	outline: 1px solid rgba(0,0,0,0.05);
	border-radius: .25rem;
	font-family: 'Mono', monospace;
	width: 100%;
	max-width: 640px;
	display: flex !important;
	flex-direction: row;
	gap: .75rem;
	margin-bottom: .625rem;
	height: fit-content !important;
}

#pgp-owner-info  p {
	font-size: .75rem !important;
	text-align: left;
}

.card-header {
	width: fit-content;
}

.pgp-meta {
	display: flex;
	flex-direction: row;
	font-size: .75rem !important;
	gap: .75rem;
	margin-top: .125rem;
}

.pgp-meta p {
	color: #878787;
}

#pgp-owner-info p {
	margin: 0;
	width: fit-content;
}

#pgp-owner-info h3 {
	margin: 0;
	font-size: .75rem;
	color: #333;
	font-weight: normal;
}

@media only screen and (max-width: 768px) {

	.emoji {
		font-size: 2.5rem;
	}

	#pgp-info {
		position: initial;
	}

	body.info h2 {
		font-size: 2.5rem;
	}

}

@media only screen and (max-width: 480px) {
	textarea {
		height: 48vh;
	}

	body {
		padding: 5.75rem 1.25rem 0 1.25rem;
		justify-content: flex-start;
	}

	#pgp-owner-info {
		margin-bottom: 1rem;

	}

	body.info {
		padding: 6.5rem 0 5rem 0;
	}

	body.info h2 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 390px) {
	button {
		width: 100%;
	}
	
	.button-container {
		width: 100%;
	}
}
