<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#7D25C1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Hushline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!-- Navigation bar, logo, etc. -->
        <h1>🤫 Hush Line</h1>
        {% if 'user_id' in session and (('2fa_required' not in session or not session['2fa_required']) or ('2fa_verified' in session and session['2fa_verified'])) %}
            <nav>
                <div class="navGroup">
                    <a class="mobileNav btnIcon" aria-label="Navigation menu">Menu</a>
                    <ul>
                        <li><a href="{{ url_for('inbox', username=session.username) }}">Inbox</a></li>
                        <li><a href="{{ url_for('submit_message', username=session.username) }}">Submit Message</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropbtn">@{{ session['username'] }} <img class="dropdown-icon" src="{{ url_for('static', filename='dropdown.png') }}" alt="Dropdown"></a>
                            <div class="dropdown-content">
                                <ul>
                                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <a class="btn" href="https://opencollective.com/scidsg/"><span class="emoji">❤️</span> Donate</a>
                </div>
            </nav>
            {% else %}
            <nav>
                <a class="mobileNav btnIcon" aria-label="Navigation menu">Menu</a>
                <ul>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
                <a class="btn" href="https://opencollective.com/scidsg/"><span class="emoji">❤️</span> Donate</a>
            </nav>
            {% endif %}
    </header>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>
        <div class="container">
            {% block content %}
            <!-- This block will be filled with page-specific content -->
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>
            <a href="https://github.com/scidsg/hushline/blob/main/privacy-policy.md" target="_blank" rel="noopener noreferrer">Privacy Policy</a> | 
            <a href="https://github.com/scidsg/hushline/blob/main/terms-of-service.md" target="_blank" rel="noopener noreferrer">Terms of Service</a>
        </p>
    </footer>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://unpkg.com/openpgp@latest/dist/openpgp.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" integrity="sha384-Hd0hsoTB/ZleQEYwJPyuIHMrzGkd40NONqf95qQdNvfUNjl/v3qMH82y26e9bHq/" crossorigin="anonymous"></script>
</body>
</html>
