{% extends "base.html" %}
{% block title %}Inbox{% endblock %}

{% block content %}
    {% if messages %}
        {% if is_secondary %}
            <h2>Inbox for {{ username }}</h2>
            <p class="badge">✌️ Secondary Username</p>
        {% else %}
            <h2>Inbox for {{ user.display_name or user.primary_username }}</h2>
            <p class="badge">☝️ Primary Username</p>
        {% endif %}

        {% for message in messages %}
            <div class="message{% if 'BEGIN PGP MESSAGE' in message.content %} encrypted{% endif %}" data-encrypted-content="{{ message.content | safe }}">
                <p class="decrypted-content">{{ message.content }}</p>
                <div class="mailvelope-decryption-container"></div>
                <!-- Delete button/form for each message -->
                <form action="{{ url_for('delete_message', message_id=message.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <div class="emptyState">
            <img class="empty" src="{{ url_for('static', filename='empty.png') }}">
            <h1>Nothing to see here...</h1>
            <p>No messages yet.</p>
        </div>
    {% endif %}
{% endblock %}
