<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino, Science & Design">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A reasonably private and secure personal tip line.">
    <meta name="theme-color" content="#1d1d1c">

    <title>Hush Line - Your Private Suggestion Box</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" sizes="512x512">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="pgp-info" class="hidden">
        <h3>Owner Info</h3>
        <p id="pgp-owner-info"></p>
        <div class="pgp-meta">
            <p id="pgp-key-id"></p>
            <p id="pgp-expires"></p>
        </div>
        <a href="#" class="key-button" role="button">🔑</a>
    </div>
    <h1><span class="emoji">🤫</span>Hush Line</h1>
    <p>Spill the tea without getting burned. <a href="https://hushline.app" target="_blank" rel="noopener noreferrer">Learn&nbsp;More</a>.</p>
    <form id="message-form" action="/save_message" method="POST">
        <textarea name="message" rows="10" cols="60" required>Comments:
             

Contact Info:
If you'd like a response, please leave a way to contact you.
</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='jquery-min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <footer><p>Made with ✊ by <a href="https://scidsg.org" target="_blank" rel="noopener noreferrer">Science &amp; Design</a> / <a href="https://github.com/scidsg/hush-line" target="_blank" rel="noopener noreferrer">Clone this project</a> / <a href="https://github.com/scidsg/hush-line/blob/main/terms-of-service.md" target="_blank" rel="noopener noreferrer">Terms of Service</a></p></footer>
</body>
</html>
