<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino, Science & Design">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A reasonably private and secure personal tip line.">
    <meta name="apple-mobile-web-app-title" content="Glenn Sorrentino">
    <meta name="application-name" content="Hush Line">
    <meta name="theme-color" content="#333">

    <link rel="stylesheet" href="../static/style.css">

    <title>Message App</title>
</head>
<body>
    <h1><span class="emoji">🤫</span>Hush Line</h1>
    <p>Spill the tea without getting burned.</p>
    <form id="signup-form" action="/save_message" method="post">
        <textarea name="message" rows="10" cols="60" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='jquery-min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <footer><p>Made with ✊ by <a href="" target="_blank" rel="noopener noreferrer">Science &amp; Design</a>. <a href="" target="_blank" rel="noopener noreferrer">Clone this project</a>.</p></footer>
</body>
</html>
