{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="content register">
        <div class="brand"></div>
        <h2>Register</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% if form.confirm_password %}
            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password(size=32) }}
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if 'invite_code' in form %}
            <div>
                {{ form.invite_code.label(for="invite_code") }}
                {{ form.invite_code(size=32) }}
                {% for error in form.invite_code.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
{% endblock %}
