<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Glenn Sorrentino, Science & Design, Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A reasonably private and secure personal tip line.">
    <meta name="theme-color" content="#7D25C1">

    <title>Hush Line Setup</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}" sizes="512x512">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="setupBody">
    <header>
        <div class="wrapper">
            <h1>⚙️ Hush Line Setup</h1>
        </div>
    </header>
    <p>👋 Hush Line requires an SMTP-enabled email account - Gmail or Riseup, for example - and a PGP key that's been uploaded to a public keyserver.</p>
    <p>Not sure what to do? That's okay, <a href="https://scidsg.github.io/hushline-docs/book/intro.html" target="_blank" rel="noopener noreferrer">we'll walk you through everything you need to know right here.</a>.</p>
    <form class="setup-form" action="/setup" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        
        <label for="smtp_server">SMTP Server</label>
        <input type="text" name="smtp_server" placeholder="smtp.gmail.com" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <label for="smtp_port">SMTP Port</label>
        <input type="number" name="smtp_port" placeholder="465" required>

        <label for="pgp_public_key">Public PGP Key</label>
        <textarea name="pgp_public_key" rows="10" cols="50" required></textarea>

        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
